<% include ./partials/header%>


<div class="row login">
    <div style="width: 30%; margin: 50px auto;">
        <h1 style="text-align: center; margin: 20px auto;">Login</h1>
        <form action="/login" method="POST">
            <input type="text" name="username" placeholder="username">
            <input type="password" name="password" placeholder="password">
            <input type="submit" value="Login">
        </form>
    </div>
</div>

<% include ./partials/footer%>