<% include ../partials/header%>



<div class="container chatroomJumbo"  style="max-width: 1500px;">
<header class="jumbotron jumboContainer" style="margin: 20px auto;">
    <!--this div is because when we made the page smaller the text inside jumbotron would touch the wall-->
    <div class="container">
        
        <h1>Welcome <%= currentUser.username %> to our community chatroom.</h1>
        <p>Chat with other Reviews that are online</p>
        
    </div>
</header>
</div>



<% include ../partials/footer2 %>